button {
  background: transparent;
  color: var(--ui-color-fg, orange);
  text-transform: lowercase;
  padding: 0.5rem 1rem;
  border: var(--ui-border-w, 1px) solid var(--ui-color-fg, orange);
  font-family: EuroCaps, Titillium, sans-serif;

  &.active {
    background: rgba(255, 128, 0, .1);
    color: yellow;
  }
}
