.panel {
  @include scrollbar-awesome();

  transition: all linear 240ms;
  position: absolute;
  // box-shadow: 0 0 0 1px #d900d955 inset;
  overflow: auto;

  &.pan--heading {
    top: 16%;
    left: 35%;
    right: 35%;
    // transform: perspective(30vw) rotateX(-15deg) scale(1.1);
    perspective: 403px;
  }

  &.pan--heading-objectives {
    bottom: 85%;
    left: 35%;
    right: 35%;
  }

  &.pan--central-main {
    top: 23%;
    left: 35%;
    right: 35%;
    bottom: 23%;
  }

  &.pan--bottom {
    right: 20%;
    left: 20%;
    bottom: 5%;
  }

  &.pan--left-long {
    top: 0%;
    left: 0%;
    width: 20%;
    bottom: 0%;
  }
  &.pan--right-long {
    top: 0%;
    right: 0%;
    width: 20%;
    bottom: 0%;
  }
}
