.panel {
  @include scrollbar-awesome();

  transition: all linear 240ms;
  position: absolute;
  // box-shadow: 0 0 0 1px #d900d955 inset;
  overflow: auto;
  // perspective: 403px;

  &.pan--heading {
    top: 16%;
    left: 35%;
    right: 35%;
  }

  &.pan--heading-message {
    top: 8%;
    left: 30%;
    right: 30%;
  }

  &.pan--heading-objectives {
    bottom: 85%;
    left: 35%;
    right: 35%;
  }

  &.pan--central-main {
    top: 27%;
    left: 33%;
    right: 33%;
    bottom: 23%;
  }

  &.pan--central-hero-message {
    top: 33%;
    left: 33%;
    right: 33%;
  }

  &.pan--central-hero-sub {
    top: 43%;
    left: 33%;
    right: 33%;
  }

  &.pan--bottom {
    right: 20%;
    left: 20%;
    bottom: 5%;
  }

  &.pan--left-long {
    top: 0%;
    left: 0%;
    width: 20%;
    bottom: 0%;
  }
  &.pan--right-long {
    top: 0%;
    right: 0%;
    width: 20%;
    bottom: 0%;
  }
}
