:root {
  --lt-header-h: 42px;
  --lt-footer-h: 32px;
  --lt-screen-pad: 16px;

  --ui-border-w: 1px;
  --ui-font-size: var();

  --pal-white: white;
  --pal-orange: orange;
  --pal-grey: silver;
  --pal-green: #58be58;
  --pal-blue: #1b9ff6;
  --pal-red: #f61034;

  --scroll-width: 3px;
  --scroll-color-thumb: orange;

  --typo-font: Titillium, sans-serif;
  --typo-font-caps: EuroCaps, consolas;

  --typo-h100: 12px;
  --typo-h200: 14px;
  --typo-h300: 16px;
  --typo-h400: 18px;
}

