html, body { background: transparent; }

#app {
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
}

.caps {
  font-family: EuroCaps, sans-serif;
}

// basic body things
body {
  border-top: 3px solid transparent;
  font-family: Titillium, sans-serif;
  color: #ddd;
}

body[overlay='on'] {
  padding: 0;
  margin: 0;

  &[interact='on'] {
    background: rgba(0, 0, 0, .55);
    border-top: 3px solid rgba(255, 165, 0, 0.45);
    overflow-x: hidden
  }

  &[interact='off'] {
    background: transparent;
  }
}

body[overlay='off'] {
  background: #222 !important;
}
