:root {
  --lt-header-h: 42px;

  --pal-white: white;
  --pal-orange: orange;
  --pal-grey: silver;
  --pal-green: #58be58;
  --pal-blue: #1b9ff6;
  --pal-red: #f61034;

  --scroll-width: 3px;
  --scroll-color-thumb: orange;
}

